{% extends 'base.html' %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% block content %}
{{ block.super }}
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="text-center">Welcome to My Personal Gallery.</h1>

    </div>
    <br>
    <h2 class="text-center">Choose a location to view the photos taken there.</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="container-fluid">
                    <div class="row" id="buttons">
                        <div class="col-md-3"><button style='font-size: large;' type="button"
                                class="btn btn-dark">Karen</button></div>
                        <div class="col-md-3"><button style='font-size: large;' type="button"
                                class="btn btn-dark">Kawangware</button></div>
                        <div class="col-md-3"><button style='font-size: large;' type="button"
                                class="btn btn-dark">Rongai</button></div>
                        <div class="col-md-3"><button style='font-size: large;' type="button"
                                class="btn btn-dark">Lavington</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>

        </div>
    </div>
<br>
   <div class="row">
        {% for photo_item in photos %}
        <div class="col-md-4">
        <div class="card bg-dark text-white">
            <img src="{{photo_item.photo.url}}" class="card-img" alt="..." style="height: 350px;">
            <div class="card-img-overlay">
                <h5 class="card-title">{{photo_item.photo_location}}</h5>
                
                <p class="card-text">{{photo_item.upload_date}}</p>
            </div>
        </div>
        <br>
        </div>
        {% endfor %}
        </div>
    <br><br>
    <hr>
    <hr>
    <div id="footer">
        <h1 class="text-center">Contact Me</h1>
        <br>
        <div class="col-md-4">
            <h3>facebook</h3>
            <img src="/static/images/facebook.png" alt="">
            <p>Find me on facebook @DouglasSamphan.</p>

        </div>
        <div class="col-md-4">
            <h3>twitter</h3>
            <img src="/static/images/twitter.png" alt="">
            <p>Join me on twitter @dsamfan</p>


        </div>
        <div class="col-md-4">
            <h3>Pinterest</h3>
            <img src="/static/images/pinterest.png" alt="">
            <p>See my Photos on pinterest @dsamfan</p>


        </div>
    </div>
</div>







{% endblock%}