{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}

{{ block.super }}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

{% endblock %}




<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="text-center">Welcome to My Personal Gallery.</h1>

    </div>
    <br>
    <h2 class="text-center">Choose a location to view the photos taken there.</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="container-fluid">
                    <div class="row" id="buttons">
                        <div class="col-md-3"><button style='font-size: large;' type="button"
                                class="btn btn-dark">Karen</button></div>
                        <div class="col-md-3"><button style='font-size: large;' type="button" class="btn btn-dark"
                                onclick="run()">Kawangware</button></div>
                        <div class="col-md-3"><button style='font-size: large;' type="button"
                                class="btn btn-dark">Rongai</button></div>
                        <div class="col-md-3"><button style='font-size: large;' type="button"
                                class="btn btn-dark">Lavington</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>

        </div>
    </div>
    <br>
    <div class="row">
        {% for photo_item in photos %}
       
            <div class="col-md-4">
                <img src="{{photo_item.photo.url}}" alt="{{photo_item.name}}" class="card-img" height="40%"
                    width="100%" data-toggle="modal" data-target="#{{photo_item.id}}">
            </div>


        <div class="modal fade " id="{{photo_item.id}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                <div class="modal-content modalcard">
                    <div class="modal-header">
                        <h5 class="modal-title" id="imageheader">{{photo_item.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body card3">
                        <img src="{{photo_item.photo.url}}" alt="{{photo_item.name}}" class="img-fluid" height="100%"
                            width="100%">
                        <p class="text-center">{{photo_item.description}}</p>
                        <p class="image-location">Location : {{photo_item.location}}</p>
                            <p class="image-location">Category : {{photo_item.category}}</p>
                            <p class="image-location">Date on : {{ photo_item.upload_date }}</p>
                    </div>
                    <div class="modal-footer">
                        <input class="form-control input-lg" type="text" value="{{photo_item.photo.url}}"
                            id="copy"><button onclick="myFunction()">Copy Photo url</button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close
                        </button>

                    </div>
                    <br>
                </div>
                </div>
            </div>
            {% endfor %}
            <br><br>
            <hr>
            <hr>
            <div id="footer">
                <h1 class="text-center">Contact Me</h1>
                <br>
                <div class="col-md-4">
                    <h3>facebook</h3>
                    <img src="/static/images/facebook.png" alt="">
                    <p>Find me on facebook @DouglasSamphan.</p>

                </div>
                <div class="col-md-4">
                    <h3>twitter</h3>
                    <img src="/static/images/twitter.png" alt="">
                    <p>Join me on twitter @dsamfan</p>


                </div>
                <div class="col-md-4">
                    <h3>Pinterest</h3>
                    <img src="/static/images/pinterest.png" alt="">
                    <p>See my Photos on pinterest @dsamfan</p>


                </div>
            </div>
        </div>
        <script>
            
            function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("copy");

  /* Select the text field */
  copyText.value.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}
   

</script>






        {% endblock%}